/*=====================
Start Media Quries 
=======================*/

@media(max-width: 991px) {
    .nav-content ul a {
        padding: 10px;
        color: var(--White);
    }
    .nav-content .logo img {
        height: 25px;
    }
    .about-item {
        padding: 0;
        line-height: 1.7;
        width: auto;
        margin: auto;
    }
    .works-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .works-info {
        margin: 80px 0 0 15px;
        padding: 0px;
    }
    .works-info h1 {
        width: auto;
    }
    .testmonials-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-item p {
        padding: 15px;
    }
    .contact-item .form {
        display: grid;
        align-items: flex-start;
        justify-content: inherit;
        margin-top: 20px;
        place-items: center;
    }
    .contact-item .form .btn {
        width: 100%;
    }
}

@media(max-width:767px) {
    .about-content {
        grid-template-columns: 1fr;
    }
    .works-info h1 {
        margin-bottom: 15px;
        font-size: 23px;
    }
    .works-info p {
        width: auto;
    }
    .testmonials-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-item {
        width: 100%;
        padding: 20px;
    }
    .footer-item {
        align-self: baseline;
        flex: 1 1 100%;
    }
    .footer-item-links {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .footer-item-links ul:nth-child(2) {
        margin-left: 0px;
    }
    .footer ul {
        margin-top: 30px;
    }
}

@media(max-width:400px) {
    .nav-content ul a {
        padding: 10px;
        color: var(--White);
    }
    .nav-content .logo img {
        height: 25px;
    }
}