:root {
    /*(intro and email sign up background)*/
    --introColor: hsl(217, 28%, 15%);
    /* (main background) */
    --mainBgColor: hsl(218, 28%, 13%);
    /* (footer background) */
    --footerColor: hsl(216, 53%, 9%);
    /* (testimonials background) */
    --testColor: hsl(219, 30%, 18%);
    /* (inside call-to-action gradient) */
    /* (inside call-to-action gradient) hsl(198, 60%, 50%)*/
    --gradientColor: linear-gradient(to right, hsl(198, 60%, 50%), hsl(176, 68%, 64%));
    /* (error) */
    --social: hsl(198, 60%, 50%);
    --errorColor: hsl(0, 100%, 63%);
    --White: hsl(0, 0%, 100%);
}


/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: var(--White);
    overflow-x: hidden;
    background: var(--mainBgColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 85%;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

.btn {
    background: var(--gradientColor);
    background-size: 200%;
    margin: 15px 0;
    border-radius: 50px;
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--White);
    transition: background .5s;
    cursor: pointer;
}

.btn:hover {
    background-position: -100%;
}


/* start Header */

.navbar {
    background: var(--introColor);
    padding: 70px 0;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-content ul {
    display: flex;
}

.nav-content ul a {
    padding: 15px 20px;
    color: var(--White);
    position: relative;
}

.nav-content ul a::before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 0;
    height: 1px;
    width: calc(100% - 30px);
    margin-left: 15px;
    background: var(--White);
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all .5s;
}

.nav-content ul a:hover::before {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    /* transform-origin: center; */
}


/* start Header */

.header {
    background: var(--introColor) url(../images/bg-curvy-desktop.svg) no-repeat bottom;
    background-size: contain;
    text-align: center;
}

.header .header-content {
    width: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.header-content img {
    margin: auto;
    width: 100%;
}

.header-content h1 {
    margin: 20px 0;
    font-size: 2rem;
}

.header-content p {
    line-height: 1.7;
    margin: 15px 0;
}


/* start about  */

.about {
    background: var(--mainBgColor);
    padding: 150px 0;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    grid-row-gap: 50px;
    width: 85%;
    margin: auto;
}

.about-item {
    line-height: 1.7;
    width: 360px;
    margin: auto;
}

.about-item p {
    color: #bdbdb0;
    /* width: 77%; */
    margin: auto;
}


/* start works */

.works {
    padding: 80px 0;
}

.works-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.works-content .works-image img {
    width: 100%;
    margin: auto;
}

.works-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    padding: 0 30px;
}

.works-info h1 {
    margin-bottom: 15px;
    font-size: 2rem;
    text-indent: 5px;
    width: 300px;
}

.works-info p {
    margin-bottom: 15px;
    color: #bdbdb0;
    width: 500px;
}

.works-info .btn-product {
    color: #65e2d9;
    position: relative;
    font-family: inherit;
    margin: 20px 0;
}

.works-info .btn-product::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 1px;
    width: 150px;
    background: var(--gradientColor);
}

.works-info .btn-product img {
    vertical-align: middle;
}


/* End works */


/* start testmonials */

.testmonials {
    padding: 70px 0px;
}

.testmonials-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.testmonials-item {
    background: var(--testColor);
    border-radius: 5px;
    padding: 50px 30px;
    box-shadow: 10px 10px 6px var(--introColor);
}

.testmonials-item:nth-child(1) {
    position: relative;
}

.testmonials-item:nth-child(1) .quotes {
    position: absolute;
    top: -35px;
    left: -10px;
    z-index: -1;
}

.testmonials-item .user {
    margin-top: 30px;
}

.testmonials-item .user img {
    width: 40px;
    border-radius: 50%;
    vertical-align: bottom;
}

.testmonials-item .user .user-info {
    margin-left: 15px;
    display: inline-block;
}

.testmonials-item .user .user-info span {
    color: #bdbdb0;
}


/* end testmonials */


/* start contact */

.contact {
    position: relative;
    padding: 100px 0;
}

.contact-item {
    text-align: center;
    background: var(--introColor);
    width: 70%;
    padding: 50px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 44%), -2px -2px 10px rgb(0 0 0 / 51%);
    margin: 0 auto;
    margin-bottom: -260px;
}

.contact-item .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.contact-item .form input:nth-child(1) {
    height: 40px;
    padding: 25px;
    border-radius: 50px;
    outline: none;
    border: none;
    margin: 30px;
    width: 100%;
}

.contact-item .form .btn {
    width: 400px;
}

.contact-item p {
    padding: 30px 80px 0;
}


/* footer */

.footer {
    background: var(--footerColor);
    padding-top: 130px;
}

.footer .footer-info {
    padding: 50px 0;
}

.footer-item-logo {
    margin: 30px 0;
}

.footer-items {
    display: flex;
    flex-wrap: wrap;
}

.footer-item {
    align-self: baseline;
    flex: 1 1 25%;
    margin-bottom: 20px;
}

.footer-item:nth-child(1) {
    display: flex;
    align-items: start;
}

.footer-item-desc {
    margin-left: 15px;
}

.footer-social {
    display: flex;
    justify-content: center;
}

.footer-social i {
    margin: 10px;
    border-radius: 50%;
    border: 1px solid var(--White);
    color: var(--White);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .5s, border .5s;
}

.footer-item ul li a {
    display: inline-block;
    padding: 5px 0;
    color: var(--White);
    transition: font-weight .5s;
}

.footer-item ul li a:hover {
    font-weight: 700;
}

.footer-social i:hover {
    border: 1px solid var(--social);
    color: var(--social);
    cursor: pointer;
}

.footer-item-contact {
    margin-bottom: 20px;
}

.footer-item-contact span {
    margin-left: 20px;
}

.footer-item-links {
    display: flex;
    justify-content: flex-start;
}

.footer-item-links ul:nth-child(2) {
    margin-left: 40px;
}


/* start footer copyright */

.copyright {
    text-align: center;
    padding: 30px 0;
    background: var(--footerColor);
}

.copyright a {
    color: #4abed2;
    font-weight: bolder;
    letter-spacing: 1px;
}
